<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    导入jQuery的js文件-->
    <script type="text/javascript" src="./easyUI/jquery.min.js"></script>
    <!--    导入easyUI的js文件-->
    <script type="text/javascript" src="./easyUI/jquery.easyui.min.js"></script>
    <!--    导入easyUI的语言js文件-->
    <script type="text/javascript" src="./easyUI/locale/easyui-lang-zh_CN.js"></script>
    <!--    导入easyUI的图标css文件-->
    <link rel="stylesheet" type="text/css" href="./easyUI/themes/icon.css">
    <!--    导入默认模块的css文件-->
    <link id="themeLink" rel="stylesheet" type="text/css" href="./easyUI/themes/default/easyui.css">
</head>
<body class="easyui-layout" style="padding: 5px">
<table id="dg"></table>
<div id="editWin" class="easyui-window" data-options="title:'编辑',width:400,height:300,closed:true">
    <form action="" method="post" id="editForm">
        <input type="hidden" name="id">
        <table>
            <tr>
                <td>调查任务名称</td>
                <td><input type="text" id="dcrwName" name="dcrwName" class="easyui-validatebox" data-options="required:true"></td>
            </tr>
            <tr>
                <td>关区选择</td>
                <td>
                    <lable><input class="gqradio" type="radio" name="isAll" value="1" checked>所有关区</lable>
                    <lable><input class="gqradio" type="radio" name="isAll" value="0">单个关区</lable>
                </td>
            </tr>
            <td></td>
            <td>
                <select id="dcGqdm" name="dcGqdm" >
                    <option value="bhjbh"></option>
                    <option value="sxzc"></option>
                </select>
            </td>
            <tr>
                <td>调查表名称</td>
                <td>
                    <select id="dcbName"  name="dcbName">
                        <option value="0">所有任务</option>
                        <option value="1">卫生检疫</option>
                        <option value="2">动物检疫</option>
                        <option value="3">植物检疫</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="#" id="save" class="easyui-linkbutton" data-options="iconCls:'icon-save'">发布</a>
                    <a href="#" id="cancel" class="easyui-linkbutton" data-options="iconCls:'icon-reload'">取消</a>
                </td>
            </tr>
        </table>

    </form>
</div>


<!--<div data-options="region:'south',title:'历史调查任务',split:true,collapsible:false" style="height:300px;padding: 5px">
    <table id="lsrw"></table>
</div>-->

<script type="text/javascript">
    $(function () {

        $('#dg').datagrid({
            //远程的url地址，需要抓取的数据的地址，这个地址要求返回json格式{"total":xx,"rows":[]}
            url:'http://localhost:8080/dcrwgl',
            singleSelect:true,
            columns:[
                [
                    //展示列数据
                    {field:'dcRenwumc',title:'调查任务名称',width:100},
                    {field:'dcRenwugqdm',title:'关区代码',width:100},
                    {field:'dcRenwugqname',title:'关区名称',width:100},
                    {field:'dcDcbname',title:'调查表名称',width:100},
                    {field:'dcDcbzt',title:'审批状态',width:100,formatter:function (value,row,index) {
                            if (value!="0"){
                                return value=="2"?"<font color='green'>通过</font>":"<font color='orange'>未审核</font>"
                            }else {
                                return "<font color='red'>未提交</font>"
                            }
                        }},
                ]
            ],
            pagination:true,
            toolbar: [{
                iconCls: 'icon-add',
                text:"发布调查任务",
                url:'http://localhost:8080/allsubuser',
                handler:function () {
                    $("#editWin").window("open");
                    var gq=$('input[name="isAll"]:checked').val();
                    if (gq==1){
                        $("#dcGqdm").hide();
                    }else if (gq==0){
                        $("#dcGqdm").show();
                    }
                    $(".gqradio").click(function () {
                        var gq=$('input[name="isAll"]:checked').val();
                        if (gq==1){
                            $("#dcGqdm").hide();
                            $("#dcGqdm").val("null");

                        }else if (gq==0){
                            $("#dcGqdm").show();
                        }
                    })
                }
            },
                {
                    iconCls: 'icon-edit',
                    text:"审批调查任务",
                    handler:function () {
                        alert("开发中");
                        return;
                    }
                },

                {
                    iconCls: 'icon-remove',
                    text:"删除调查任务",
                    handler:function () {
                        //获取选择的那一条数据
                        var rows=$("#dg").datagrid("getSelections");
                        //判断是否选中数据
                        if (rows.length==0){
                            $.messager.alert("提示","请选择一条数据","warning")
                            return ;
                        }
                        $.ajax({
                            url:"http://localhost:8080/delete",
                            type:"post",
                            data:JSON.stringify({"rwxh":rows[0].rwxh}),
                            dataType:"json",
                            contentType:"application/json",
                            success:function (data) {
                                if (data.success){
                                    $("#dg").datagrid("reload");
                                    $.messager.show({
                                        title:"提示",
                                        msg:"删除成功"
                                    })
                                }else {
                                    $.messager.alert("提示",data.msg,"error");
                                }
                            }
                        })
                    }
                },




            ],
        });
        $("#save").click(function () {
            var dcrwName=$("#dcrwName").val();
            var isAll=$('input[name="isAll"]:checked').val();
            var dcGqdm=$("#dcGqdm").val();
            var dcGqmc=$('#dcGqdm option:selected').text();
            var dcbName=$("#dcbName").val();
            alert(JSON.stringify({dcrwName,isAll,dcGqdm,dcGqmc,dcbName}))
            $.ajax({
                url:'http://localhost:8080/',
                type:"post",
                data:JSON.stringify({"dcrwName":dcrwName,"isAll":isAll,"dcGqdm":dcGqdm,"dcGqmc":dcGqmc,"dcbName":dcbName}),
                dataType:"json",
                contentType:"application/json",
                success:function (data) {
                    if(data.success==true){
                        //表单清空
                        $("#editForm").form("clear")
                        //关闭窗口
                        $("#editWin").window("close")
                        //刷新datagrid
                        $("#dg").datagrid("reload")

                        $.messager.show({
                            title:"提示",
                            msg:"发布成功"
                        })
                    }else if (data.success==false){
                        $.messager.alert("提示","发布失败","error")
                    }
                }
            })
        })
        $("#cancel").click(function () {
            $("#editForm").form("clear")
            $("#editWin").window("close")
        })

    })





</script>
</body>
</html>