<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    导入jQuery的js文件-->
    <script type="text/javascript" src="./easyUI/jquery.min.js"></script>
    <!--    导入easyUI的js文件-->
    <script type="text/javascript" src="./easyUI/jquery.easyui.min.js"></script>
    <!--    导入easyUI的语言js文件-->
    <script type="text/javascript" src="./easyUI/locale/easyui-lang-zh_CN.js"></script>
    <!--    导入easyUI的图标css文件-->
    <link rel="stylesheet" type="text/css" href="./easyUI/themes/icon.css">
    <!--    导入默认模块的css文件-->
    <link id="themeLink" rel="stylesheet" type="text/css" href="./easyUI/themes/default/easyui.css">
</head>
<body >
<div id="loading" style="position:absolute;z-index:1000;top:0px;left:0px;width:100%;height:100%;background:#DDDDDB;text-align :center;padding-top:20%;">
    <h1><font color="#15428B">加载中....</font></h1>
</div>
<table id="dg"></table>
<div id="editWin1" class="easyui-window" data-options="width:400,height:300,closed:true">
    <form action="" method="post" id="editForm1">
        <table>
            <tr>
                <td>调查任务名称</td>
                <td><input type="text" id="dcrwName1" name="dcrwName" class="easyui-validatebox" data-options="required:true"></td>
            </tr>

            <tr>
                <td>
                    <a href="#" id="save1" class="easyui-linkbutton" data-options="iconCls:'icon-save'">发布</a>
                    <a href="#" id="cancel1" class="easyui-linkbutton" data-options="iconCls:'icon-reload'">取消</a>
                </td>
            </tr>
        </table>

    </form>
</div>



<div id="editWin" class="easyui-window" data-options="width:400,height:300,closed:true">
    <form action="" method="post" id="editForm">
        <table>
            <tr>
                <td>调查任务名称</td>
                <td><input type="text" id="dcrwName" name="dcrwName" class="easyui-validatebox" data-options="required:true"></td>
            </tr>
            <tr>
                <td>关区选择</td>
                <td>
                    <input id="dcGqmc" class="easyui-combobox" name="dcGqmc" value="请选择关区" data-options="editable:false"></tr>
            </td>
            </tr>
            <tr>
                <td>调查表名称</td>
                <td>
                    <select id="dcbName" class="easyui-combobox"  name="dcbName" style="width:154px" data-options="editable:false">
                        <option value="0">所有任务</option>
                        <option value="1">卫生检疫</option>
                        <option value="2">动物检疫</option>
                        <option value="3">植物检疫</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <a href="#" id="save" class="easyui-linkbutton" data-options="iconCls:'icon-save'">发布</a>
                    <a href="#" id="cancel" class="easyui-linkbutton" data-options="iconCls:'icon-reload'">取消</a>
                </td>
            </tr>
        </table>
    </form>
</div>


<div id="editWin2" class="easyui-window" data-options="width:600,height:400,closed:true">
    <form action="" method="post" id="editForm2">
        <table>
            <tr>
                <td>类别</td>
                <td>
                    <select id="cc" class="easyui-combobox" name="dept" style="width:200px;">
                        <option value="aa">aitem1</option>
                        <option>bitem2</option>
                        <option>bitem3</option>
                        <option>ditem4</option>
                        <option>eitem5</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="#" id="save2" class="easyui-linkbutton" data-options="iconCls:'icon-save'">提交</a>
                    <a href="#" id="cancel2" class="easyui-linkbutton" data-options="iconCls:'icon-reload'">取消</a>
                </td>
            </tr>
        </table>
    </form>
</div>


<script type="text/javascript">
    var pc;
    //不要放在$(function(){});中
    $.parser.onComplete = function () {
        if (pc) clearTimeout(pc);
        pc = setTimeout(closes, 200);
    }

    function closes() {
        $('#loading').fadeOut('normal', function () {
            $(this).remove();
        });
    }
    $(function () {

        edit = function (row) {
            if (row.dcDcbname == "卫生检疫") {
                alert("http://localhost:8080/wsdcrw?rwid=" + row.id)
                    var jq=top.jQuery;
                    if (jq("#tt").tabs('exists',row.dcDcbname)){
                        jq("#tt").tabs('select',row.dcDcbname)
                    }else {
                        jq("#tt").tabs("add", {
                            title: row.dcDcbname,
                            // content:"<iframe src='http://localhost:8080/"+pageUrl+"' width='100%' height='100%' frameborder='0'></iframe>",
                            content: "<iframe src='http://localhost:8080/wsdcrw?rwid="+row.id+"' width='100%' height='100%' frameborder='0'></iframe>",
                            closable: true
                        })
                    }

            } else if (row.dcDcbname == "动物检疫") {
                window.location.href = "http:/localhost:8080/dwdcrw.html?rwid=" + row.dcrwXh;
            } else if (row.dcDcbname == "植物检疫") {
                window.location.href = "http:/localhost:8080/zwdcrw.html?rwid=" + row.dcrwXh;
            }
        };
        withdraw = function(row){
            alert(JSON.stringify(row));
            if (row.dcDcbname == "卫生检疫"){
                $.ajax({
                    url:'http://localhost:8080/withdraw',
                    type:"post",
                    data:JSON.stringify({"renwuid":row.id}),
                    dataType:"json",
                    contentType:"application/json",
                    success:function (data) {
                        if(data.success==false){
                            $.messager.alert("提示","发生错误","error")
                        }else if (data.success==true){
                            $("#dg").datagrid("reload");
                        }
                    }
                })
            }
        }

        accept = function(row){
            alert(JSON.stringify(row));
            if (row.dcDcbname == "卫生检疫"){
                $.ajax({
                    url:'http://localhost:8080/accept',
                    type:"post",
                    data:JSON.stringify({"renwuid":row.id}),
                    dataType:"json",
                    contentType:"application/json",
                    success:function (data) {
                        if(data.success==false){
                            $.messager.alert("提示","发生错误","error")
                        }else if (data.success==true){
                            $("#dg").datagrid("reload");
                        }
                    }
                })
            }
        }


        $('#dcGqmc').combobox({
            url: 'http://localhost:8080/allsubuser',
            valueField: 'dcGqdm',
            textField: 'dcGqname'
        });

        $('#dg').datagrid({
            //远程的url地址，需要抓取的数据的地址，这个地址要求返回json格式{"total":xx,"rows":[]}
            url: 'http://localhost:8080/dcrwgl',
            singleSelect: true,
            rownumbers: true,
            fitColumns: true,
            columns: [
                [
                    //展示列数据
                    {field: 'dcRenwumc', title: '调查任务名称', width: 100},
                    {field: 'dcRenwugqdm', title: '关区代码', width: 100},
                    {field: 'dcRenwugqname', title: '关区名称', width: 100},
                    {field: 'dcDcbname', title: '调查表名称', width: 100},
                    {
                        field: 'dcDcbzt', title: '状态', width: 100, formatter: function (value, row, index) {
                            if (value=="已提交"){
                                return "<font color='blue'>已提交</font>"
                            }else if (value=="接受"){
                                return "<font color='green'>接受</font>"
                            }else {
                                return "<font color='red'>未提交</font>"
                            }


                        }
                    },
                    {
                        field: "operate", title: "操作", width: 100, formatter: function (value, row, index) {
                            var str = '<a href="#" onclick=edit(' + JSON.stringify(row) + ') name="opera" class="easyui-linkbutton" style="background-color: red;color: white"></a>' +
                                '<a href="#" <a href="#" onclick=withdraw(' + JSON.stringify(row) + ') name="opera1" class="easyui-linkbutton" style="background-color: orange;color: white"></a>' +
                                '<a href="#" onclick=accept(' + JSON.stringify(row) + ') name="opera2" class="easyui-linkbutton" style="background-color: green;color: white"></a>';
                            return str;
                        }
                    }
                ]
            ],
            onLoadSuccess: function () {
                $("a[name='opera']").linkbutton({text: '填报', plain: true, height: 20});
                $("a[name='opera1']").linkbutton({text: '撤回', plain: true, height: 20});
                $("a[name='opera2']").linkbutton({text: '接收', plain: true, height: 20});

            },
            pagination: true,
            toolbar: [
                {
                    iconCls: 'icon-add',
                    text: "发布所有调查任务",
                    id: "addBtn",
                    handler: function () {
                        $("#editWin1").window({title: "发布所有调查任务"});
                        $("#editWin1").window("open");
                    }
                },
                {
                    iconCls: 'icon-edit',
                    text: "发布单个调查任务",
                    url: "http://localhost:8080/allsubuser",
                    handler: function () {
                        $("#editWin").window({title: "发布单个调查任务"});
                        $("#editWin").window("open");
                    }
                },

                {
                    iconCls: 'icon-remove',
                    text: "删除调查任务",
                    handler: function () {
                        //获取选择的那一条数据
                        var rows = $("#dg").datagrid("getSelections");
                        //判断是否选中数据
                        if (rows.length == 0) {
                            $.messager.alert("提示", "请选择一个任务", "warning")
                            return;
                        }
                        $.ajax({
                            url: "http://localhost:8080/deletedcrw",
                            type: "post",
                            data: JSON.stringify({"id": rows[0].id}),
                            dataType: "json",
                            contentType: "application/json",
                            success: function (data) {
                                if (data.success) {
                                    $("#dg").datagrid("reload");
                                    $.messager.show({
                                        title: "提示",
                                        msg: "删除成功"
                                    })
                                } else {
                                    $.messager.alert("提示", data.msg, "error");
                                }
                            }
                        })
                    }
                },

            ],

        });
        var user = 0;
        if (user == 1) {
            $("#addBtn").hide();
        }


        $("#save").click(function () {
            var dcrwName = $("#dcrwName").val();
            var dcGqdm = $("#dcGqmc").combobox('getValue');
            var dcGqName = $("#dcGqmc").combobox('getText');
            var dcbName = $("#dcbName").combobox('getText');
            alert(JSON.stringify({dcrwName, dcGqdm, dcGqmc, dcbName}))
            $.ajax({
                url: 'http://localhost:8080/addsingledcrw',
                type: "post",
                data: JSON.stringify({
                    "dcrwName": dcrwName,
                    "dcGqdm": dcGqdm,
                    "dcGqName": dcGqName,
                    "dcbName": dcbName
                }),
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    if (data.success == true) {
                        //表单清空
                        $("#editForm").form("clear")
                        //关闭窗口
                        $("#editWin").window("close")
                        //刷新datagrid
                        $("#dg").datagrid("reload")

                        $.messager.show({
                            title: "提示",
                            msg: "发布成功"
                        })
                    } else if (data.success == false) {
                        $.messager.alert("提示", "发布失败", "error")
                    }
                }
            })
        })

        $("#save1").click(function () {
            var dcrwName = $("#dcrwName1").val();
            alert(JSON.stringify({dcrwName}))
            $.ajax({
                url: 'http://localhost:8080/addalldcrw',
                type: "post",
                data: JSON.stringify({"dcrwName": dcrwName}),
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    if (data.success == true) {
                        //表单清空
                        $("#editForm").form("clear")
                        //关闭窗口
                        $("#editWin").window("close")
                        //刷新datagrid
                        $("#dg").datagrid("reload")

                        $.messager.show({
                            title: "提示",
                            msg: "发布成功"
                        })
                    } else if (data.success == false) {
                        $.messager.alert("提示", "发布失败", "error")
                    }
                }
            })
        })

        $("#cancel").click(function () {
            $("#editForm").form("clear")
            $("#editWin").window("close")
        })

        $("#cancel1").click(function () {
            $("#editForm1").form("clear")
            $("#editWin1").window("close")
        })

    })





</script>
</body>
</html>