<!DOCTYPE html>
<html lang="en" style="height: 100%">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--    导入jQuery的js文件-->
    <script type="text/javascript" src="/easyUI/jquery.min.js"></script>
    <!--    导入easyUI的js文件-->
    <script type="text/javascript" src="/easyUI/jquery.easyui.min.js"></script>
    <!--    导入easyUI的语言js文件-->
    <script type="text/javascript" src="/easyUI/locale/easyui-lang-zh_CN.js"></script>
    <!--    导入easyUI的图标css文件-->
    <link rel="stylesheet" type="text/css" href="easyUI/themes/icon.css">
    <!--    导入默认模块的css文件-->
    <link id="themeLink" rel="stylesheet" type="text/css" href="/easyUI/themes/default/easyui.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <script type="text/javascript">

        $(function () {
            $("#loginBtn").click(function () {
                var name=$("#userId").val();
                var password=$("#pwd").val()

                if (name==""||name==null||password==""||password==null){
                    alert("请输入账号或密码");
                    return ;
                }

                $.ajax({
                    url:'http://localhost:8080/login',
                    type:"post",
                    data:JSON.stringify({"gqdm":name,"password":password}),
                    dataType:"json",
                    contentType:"application/json",
                    success:function (data) {
                        if(data.success==false){
                            $.messager.alert("提示","用戶名或密碼錯誤","error")
                        }else if (data.success==true){
                            window.location.href="http://localhost:8080/index";
                        }
                    }
                })


            })
        })
    </script>
</head>
<body background="./images/beijin.jpg" style="background-size: cover;height: 100%">
<div  style="position: absolute;top: 100px;left: 60px"><img width="550" src="./images/hg.jpeg" alt=""></div>

<div style="background-color: rgba(0,0,0,0.2); height: 100%;width: 36%;float: right;" >
    <form id="loginform" action="/login" method="post">
        <div id="loginPanel" style="border-radius:5px;width: 26%;height: 300px;position: absolute;right:5%;top:50%;margin-top:-150px;background-color: #fff;">

            <div style="border-bottom: 1px solid #e3e4e5;margin: 26px 26px 20px 26px;">
                <a href="javascript:void(0)" style="color: black;font-size: 16px;line-height:40px;font-family: Tahoma;font-style: italic;font-weight: bold">账号登录</a>
            </div>
            <div style="padding-left: 26px; padding-right: 26px;">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon glyphicon glyphicon-user" style="border-color: #e3e4e5;position: relative;top: 0px"></span>
                    <input id="userId" type="text" name="gqdm" class="form-control " style="border-color: #e3e4e5;font-style: italic;" placeholder="账号" aria-describedby="basic-addon1">
                </div>

                <div class="input-group input-group-lg">
                    <span class="input-group-addon glyphicon glyphicon-lock" style="border-color: #e3e4e5;position: relative;top: 0px"></span>
                    <input id="pwd" type="password" name="password" class="form-control" style="border-color: #e3e4e5;font-style: italic;" placeholder="密码" aria-describedby="basic-addon2">
                </div>
                <!--/*@thymesVar id="error" type="java.lang.String"*/-->
                <!--<div>
                    <a th:if="${error != null}" th:text="${error}"></a>
                </div>-->
                <input id="loginBtn" type="button" class="btn btn-block btn-primary btn-large" style="margin-top: 20px;background-color: #213F76;font-style: italic;" value="登录"/>
                <span style="font-style: italic;margin-top: 10px;margin-left:100px;color: #8d8d8d;font-size: 7px;float: right">技术支持：13659998888</span>
            </div>
        </div>
    </form>
</div>
<div  style="position: absolute;bottom: 30px;left: 60px">
    <label style="color: #fff;font-style: normal;font-size: 12px;font-weight: initial">海关总署科技司  地址:北京市建国门内大街6号</label>
</div>

</div>
</body>
</html>