<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    导入jQuery的js文件-->
    <script type="text/javascript" src="./easyUI/jquery.min.js"></script>
    <!--    导入easyUI的js文件-->
    <script type="text/javascript" src="./easyUI/jquery.easyui.min.js"></script>
    <!--    导入easyUI的语言js文件-->
    <script type="text/javascript" src="./easyUI/locale/easyui-lang-zh_CN.js"></script>
    <!--    导入easyUI的图标css文件-->
    <link rel="stylesheet" type="text/css" href="./easyUI/themes/icon.css">
    <!--    导入默认模块的css文件-->
    <link id="themeLink" rel="stylesheet" type="text/css" href="./easyUI/themes/default/easyui.css">
</head>
<body>
<table id="lsrw"></table>
</body>

<script type="text/javascript">
    $('#lsrw').datagrid({
        //远程的url地址，需要抓取的数据的地址，这个地址要求返回json格式{"total":xx,"rows":[]}
        url: 'http://localhost:8080/lsdcrwgl',
        singleSelect: true,
        rownumbers:true,
        columns:[
            [
                //展示列数据
                {field:'dcRenwumc',title:'调查任务名称',width:100},
                {field:'dcRenwugqdm',title:'关区代码',width:100},
                {field:'dcRenwugqname',title:'关区名称',width:100},
                {field:'dcDcbname',title:'调查表名称',width:100},
                {field:'dcDcbzt',title:'状态',width:100,formatter:function (value,row,index) {
                        if (value=="已提交"){
                            return "<font color='blue'>已提交</font>"
                        }else if (value=="接受"){
                            return "<font color='green'>接受</font>"
                        }else {
                            return "<font color='red'>未提交</font>"
                        }
                    }},
            ]
        ],
        pagination: true,
        onDblClickRow:function (index,row) {
            /*alert(JSON.stringify(row))*/
            if (row.dcDcbname=="卫生检疫"){
                var jq=top.jQuery;
                if (jq("#tt").tabs('exists',row.dcRenwumc+row.dcDcbname)){
                    jq("#tt").tabs('select',row.dcRenwumc+row.dcDcbname)
                }else {
                    jq("#tt").tabs("add", {
                        title: row.dcRenwumc+row.dcDcbname,
                        // content:"<iframe src='http://localhost:8080/"+pageUrl+"' width='100%' height='100%' frameborder='0'></iframe>",
                        content: "<iframe src='http://localhost:8080/wslsjl?rwid="+row.id+"' width='100%' height='100%' frameborder='0'></iframe>",
                        closable: true
                    })
                }

            }else if (row.dcDcbname=="动物检疫"){
                var jq=top.jQuery;
                if (jq("#tt").tabs('exists',row.dcRenwumc+row.dcDcbname)){
                    jq("#tt").tabs('select',row.dcRenwumc+row.dcDcbname)
                }else {
                    jq("#tt").tabs("add", {
                        title: row.dcRenwumc+row.dcDcbname,
                        // content:"<iframe src='http://localhost:8080/"+pageUrl+"' width='100%' height='100%' frameborder='0'></iframe>",
                        content: "<iframe src='http://localhost:8080/dwlsjl?rwid="+row.id+"' width='100%' height='100%' frameborder='0'></iframe>",
                        closable: true
                    })
                }

            }else if (row.dcDcbname=="植物检疫"){
                var jq=top.jQuery;
                if (jq("#tt").tabs('exists',row.dcRenwumc+row.dcDcbname)){
                    jq("#tt").tabs('select',row.dcRenwumc+row.dcDcbname)
                }else {
                    jq("#tt").tabs("add", {
                        title: row.dcRenwumc+row.dcDcbname,
                        // content:"<iframe src='http://localhost:8080/"+pageUrl+"' width='100%' height='100%' frameborder='0'></iframe>",
                        content: "<iframe src='http://localhost:8080/zwlsjl?rwid="+row.id+"' width='100%' height='100%' frameborder='0'></iframe>",
                        closable: true
                    })
                }

            }
        }

    })
</script>
</html>