<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    导入jQuery的js文件-->
    <script type="text/javascript" src="./easyui/jquery.min.js"></script>
    <!--    导入easyUI的js文件-->
    <script type="text/javascript" src="./easyui/jquery.easyui.min.js"></script>
    <!--    导入easyUI的语言js文件-->
    <script type="text/javascript" src="./easyui/locale/easyui-lang-zh_CN.js"></script>
    <!--    导入easyUI的图标css文件-->
    <link rel="stylesheet" type="text/css" href="./easyui/themes/icon.css">
    <!--    导入默认模块的css文件-->
    <link id="themeLink" rel="stylesheet" type="text/css" href="./easyui/themes/default/easyui.css">
</head>
<body>

<div style="position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%)">
    <h3>关区负责人信息更新</h3>
    <form action="" method="post" id="editForm1">
        <table>
            <tr>
                <td>负责人</td>
                <td><input id="lxr" name="lxr" type="text"></td>
            </tr>
            <tr>
                <td>联系电话</td>
                <td><input id="lxrdh" name="lxrdh" type="text"></td>
            </tr>
        </table>
    </form>
    <input id="update1" type="button" value="更新">
    <h3>设置新密码</h3>
    <form action="" method="post" id="editForm2">
        <table>
            <tr>
                <td>新密码</td>
                <td><input id="password" type="password"></td>
            </tr>
            <tr>
                <td>确认密码</td>
                <td><input id="checkpassword" type="password"></td>
            </tr>
        </table>
    </form>
    <input id="update2" type="button" value="更新">
</div>
<script type="text/javascript">
    $(function () {
        $.ajax({
            url:'http://localhost:8080/showUserInfo',
            type:"post",
            dataType:"json",
            contentType:"application/json",
            success:function (data) {
                alert(JSON.stringify(data))
                $("#editForm1").form('load',{
                    lxr:data.lxr,
                    lxrdh:data.lxrdh,
                })
            }
        })

        $('#update1').click(function () {
            var lxr=$('#lxr').val();
            var lxrdh=$('#lxrdh').val();
            $.ajax({
                url:'http://localhost:8080/updateUserInfo',
                type:"post",
                data:JSON.stringify({"lxr":lxr,"lxrdh":lxrdh
                }),
                dataType:"json",
                contentType:"application/json",
                success:function (data) {
                    if(data.success==true){

                        //刷新页面
                        $("#editForm1").form("load", {
                            lxr: lxr,
                            lxrdh: lxrdh,

                        });

                        $.messager.show({
                            title:"提示",
                            msg:"更新负责人信息成功"
                        })
                    }else if (data.success==false){
                        $.messager.alert("提示","更新失败","error")
                    }
                }
            })
        })

        $('#update2').click(function () {
            var password=$('#password').val();
            var checkpwd=$('#checkpassword').val();
            if (password!=checkpwd){
                $.messager.alert("提示","两次输入密码不一致","error")
                return ;
            }
            $.ajax({
                url:'http://localhost:8080/updateUserPwd',
                type:"post",
                data:JSON.stringify({"password":password,
                }),
                dataType:"json",
                contentType:"application/json",
                success:function (data) {
                    if(data.success==true){

                        //刷新页面
                        $("#editForm2").form("clear")

                        $.messager.show({
                            title:"提示",
                            msg:"更新密码成功"
                        })
                    }else if (data.success==false){
                        $.messager.alert("提示","更新失败","error")
                    }
                }
            })
        })
    })
</script>



</body>
</html>