<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    导入jQuery的js文件-->
    <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.min.js"></script>
    <!--    导入easyUI的js文件-->
    <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
    <!--    导入easyUI的语言js文件-->
    <script type="text/javascript" src="https://www.jeasyui.com/easyui/locale/easyui-lang-zh_CN.js"></script>
    <!--    导入easyUI的图标css文件-->
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/icon.css">
    <!--    导入默认模块的css文件-->
    <link id="themeLink" rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/default/easyui.css">
</head>
<body>
<table id="dg"></table>
<div id="editWin" class="easyui-window" data-options="title:'编辑',width:400,height:300,closed:true">
    <form action="" method="post" id="editForm">
        <input type="hidden" name="id">
        <table>
            <tr>
                <td>关区编号</td>
                <td><input type="text" id="gqdm" name="gqdm" class="easyui-validatebox" data-options="required:true"></td>
            </tr>
            <tr>
                <td>关区名称</td>
                <td><input type="text" id="gqname" name="gqname" class="easyui-validatebox" data-options="required:true"></td>
            </tr>
            <tr>
                <td>联系人</td>
                <td><input type="text" id="gqlxr" name="gqlxr" class="easyui-validatebox" data-options="required:true"></td>
            </tr>
            <tr>
                <td>联系电话</td>
                <td><input type="text" id="gqlxdh" name="gqlxdh" class="easyui-numberbox" data-options="required:true"></td>
            </tr>
            <tr>
                <td>
                    <a href="#" id="save" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
                    <a href="#" id="reset" class="easyui-linkbutton" data-options="iconCls:'icon-reload'">重置</a>
                </td>
            </tr>
        </table>

    </form>
</div>
<script type="text/javascript">
$(function () {

    $('#dg').datagrid({
        //远程的url地址，需要抓取的数据的地址，这个地址要求返回json格式{"total":xx,"rows":[]}
        url:'http://localhost:8080/userManage',
        columns:[
            [
                //展示列数据
                {field:'dcGqdm',title:'关区编号',width:100},
                {field:'dcGqname',title:'关区名称',width:100},
                {field:'dcLxr',title:'联系人',width:100},
                {field:'dcLxdh',title:'联系电话',width:100},
            ]
        ],
        pagination:true,
        toolbar: [{
            iconCls: 'icon-save',
            text:"添加",
            handler:function () {
                $("#editWin").window("open")
            }
        },
            {
                iconCls: 'icon-edit',
                text:"编辑",
                handler:function () {
                    //获取选择的那一条数据
                    var rows=$("#dg").datagrid("getSelections");
                    //判断只能选择一条数据
                    if (rows.length!=1){
                        $.messager.alert("提示","一次只能选择一行","warning");
                        return ;
                    }
                    //获取第一行
                    var row=rows[0];
                    //到后台调取数据，填充到表单
                    $("#editForm").form("load","product_get.action?id="+row.id);
                    //填弹出编辑窗口
                    $("#editWin").window("open")

                }
            },
            {
                iconCls: 'icon-remove',
                text:"删除",
                handler:function () {
                    //获取选择的那一条数据
                    var rows=$("#dg").datagrid("getSelections");
                    //判断只能选择一条数据
                    if (rows.length!=1){
                        $.messager.alert("提示","一次只能选择一行","warning");
                        return ;
                    }
                    //获取数据的id
                    // var ids=new Array();
                    // $(rows).each(function (i) {
                    //     ids.push(rows[i].id)
                    // });
                    // ids=ids.join(",");
                    //发送数据id到后台删除数据
                    $.ajax({
                        url:"http://localhost:8080/delete",
                        type:"post",
                        data:JSON.stringify({"gqdm":rows[0].dcGqdm}),
                        dataType:"json",
                        contentType:"application/json",
                        success:function (data) {
                            if (data.success){
                                $("#dg").datagrid("reload");
                                $.messager.show({
                                    title:"提示",
                                    msg:"删除成功"
                                })
                            }else {
                                $.messager.alert("提示",data.msg,"error");
                            }
                        }
                    })
                    /*$.post("product_delete.action",{"ids":ids},function (data) {
                        if (data.success){
                            $("#dg").datagrid("reload");
                            $.messager.show({
                                title:"提示",
                                msg:"删除成功"
                            })
                        }else {
                            $.messager.alert("提示","删除失败:"+data.msg,"error");
                        }
                    })*/
                }
            }
        ],
    });
$("#save").click(function () {
    var gqdm=$("#gqdm").val();
    var gqname=$("#gqname").val();
    var gqlxr=$("#gqlxr").val();
    var gqlxdh=$("#gqlxdh").val();
    $.ajax({
        url:'http://localhost:8080/register',
        type:"post",
        data:JSON.stringify({"gqdm":gqdm,"gqname":gqname,"gqlxr":gqlxr,"gqlxdh":gqlxdh}),
        dataType:"json",
        contentType:"application/json",
        success:function (data) {
            if(data.success==true){
                //表单清空
                $("#editForm").form("clear")
                //关闭窗口
                $("#editWin").window("close")
                //刷新datagrid
                $("#dg").datagrid("reload")

                $.messager.show({
                    title:"提示",
                    msg:"保存成功"
                })
            }else if (data.success==false){
                $.messager.alert("提示",data.msg,"error")
            }
        }
    })
})

    /*$("#save").click(function () {
        $("#editForm").form("submit",{
            contentType:"application/json",
            url:"http://localhost:8080/register",
            onSubmit:function () {
                return $("#editForm").form("validate")
            },
            success:function (data) {
                // data=eval("("+data+")");
                alert(data)
                if(data.success){
                    //表单清空
                    $("#editForm").form("clear")
                    //关闭窗口
                    $("#editWin").window("close")
                    //刷新datagrid
                    $("#dg").datagrid("reload")

                    $.messager.show({
                        title:"提示",
                        msg:"保存成功"
                    })
                }else{
                    $.messager.alert("提示","保存失败"+data.msg,"error")
                }
            }
        })
    })*/
    $("#reset").click(function () {
        $("#editForm").form("clear")
    })
})

</script>
</body>
</html>