<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--    导入jQuery的js文件-->
    <script type="text/javascript" src="./easyUI/jquery.min.js"></script>
    <!--    导入easyUI的js文件-->
    <script type="text/javascript" src="./easyUI/jquery.easyui.min.js"></script>
    <!--    导入easyUI的语言js文件-->
    <script type="text/javascript" src="./easyUI/locale/easyui-lang-zh_CN.js"></script>
    <!--    导入easyUI的图标css文件-->
    <link rel="stylesheet" type="text/css" href="./easyUI/themes/icon.css">
    <!--    导入默认模块的css文件-->
    <link id="themeLink" rel="stylesheet" type="text/css" href="./easyUI/themes/default/easyui.css">
</head>
<body>
<input type="hidden" id="hid" th:value="${session.user.getDcGqdj()}">
<div id="loading" style="position:absolute;z-index:1000;top:0px;left:0px;width:100%;height:100%;background:#DDDDDB;text-align :center;padding-top:20%;">
    <h1><font color="#15428B">加载中....</font></h1>
</div>
<table id="dg"></table>
<div id="editWinHealth" class="easyui-window" data-options="width:650,height:410,closed:true,closable: false,collapsible:false,minimizable:false,maximizable:false">
    <form action="" method="post" id="editFormHealth">
        <input type="hidden" id="rwid" name="rwid">
        <input type="hidden" id="rwmc" name="rwmc">
        <input type="hidden" id="rwxh" name="rwxh">
        <input type="hidden" id="gqdm" name="gqdm">
        <input type="hidden" id="gqName" name="gqName">
        <input type="hidden" id="id" name="id">
        <table>
            <tr>
                <td style="text-align: right;padding-right: 0.5em">业务领域 </td>
                <td style="width: 180px"><input type="text" id="ywly" name="ywly" value="卫生检疫"></td>
            </tr>
            <tr>
                <td style="text-align: right;padding-right: 0.5em">类别 </td>
                <td>
                    <input id="category" class="easyui-combobox" name="category" value="请选择">
                </td>
                <td style="text-align: right;padding-right: 0.5em">保存形式 </td>
                <td>
                    <input id="saveType" class="easyui-combobox" name="saveType" value="请选择" data-options="valueField:'id',textField:'value'">
                </td>
            </tr>
            <tr>
                <td style="text-align: right;padding-right: 0.5em">名称 </td>
                <td><input type="text" id="name" name="name"></td>
                <td style="text-align: right">拉丁学名（细胞株英文名）</td>
                <td><input type="text" id="ename" name="ename"></td>
            </tr>
            <tr>
                <td style="text-align: right">株系（仅适用于细胞株）</td>
                <td><input type="text" id="zhuxi" name="zhuxi"></td>
                <td style="text-align: right">传次（仅适用于细胞株）</td>
                <td><input type="text" id="chuanci" name="chuanci"></td>
            </tr>
            <tr>
                <td style="text-align: right;padding-right: 0.5em">来源 </td>
                <td>
                    <input id="source" class="easyui-combobox" name="source" value="请选择" data-options="valueField:'id',textField:'value',
                           data:[
                           {id:'1',value:'截获'},
                           {id:'2',value:'购买'},
                           {id:'3',value:'赠送'},
                           {id:'4',value:'交换'},
                           {id:'5',value:'监测'},
                           {id:'6',value:'采集'},
                           ]">
                </td>
                <td style="text-align: right;padding-right: 0.5em">来源宿主或环境 </td>
                <td><input type="text" id="szhj" name="szhj"></td>
            </tr>

            <tr>
                <td style="text-align: right;padding-right: 0.5em">样本量 </td>
                <td><input type="text" id="number" name="number" style="width: 80px">
                    单位
                    <input type="text" id="danwei" name="danwei" style="width: 2em">
                </td>
                <td style="text-align: right;padding-right: 0.5em">保存状态 </td>
                <td><input type="text" id="saveStatus" name="saveStatus"></td>
            </tr>

            <tr>
                <td style="text-align: right;padding-right: 0.5em">获得地点 </td>
                <td><input type="text" id="obtainSite" name="obtainSite"></td>
                <td style="text-align: right;padding-right: 0.5em">获取途径 </td>
                <td><input type="text" id="obtainApproach" name="obtainApproach"></td>
            </tr>

            <tr>
                <td style="text-align: right;padding-right: 0.5em">保存条件 </td>
                <td><input type="text" id="saveCondition" name="saveCondition"></td>
                <td style="text-align: right;padding-right: 0.5em">保存时间 </td>
                <td><input type="text" id="saveTime" name="saveTime"></td>
            </tr>

            <tr>
                <td style="text-align: right;padding-right: 0.5em">内部保存编号 </td>
                <td><input type="text" id="code" name="code"></td>
                <td style="text-align: right">保存位置（隶属关/部门）</td>
                <td><input type="text" id="saveLocation" name="saveLocation"></td>
            </tr>
            <tr>
                <td style="text-align: right;padding-right: 0.5em">联络人 </td>
                <td><input type="text" id="contact" name="contact" style="width: 6em"></td>
                <td style="text-align: right;padding-right: 0.5em">联络人电话 </td>
                <td><input type="text" id="lxrPhone" name="lxrPhone"></td>
            </tr>

            <tr>
                <td style="text-align: right;padding-right: 0.5em">负责人 </td>
                <td><input type="text" id="principal" name="principal" style="width: 6em"></td>
                <td style="text-align: right;padding-right: 0.5em">负责人电话 </td>
                <td><input type="text" id="fzrPhone" name="fzrPhone"></td>
            </tr>

            <tr>
                <td style="text-align: right;vertical-align: top;padding-right: 0.5em">备注 </td>
                <td>
                    <textarea name="remark" id="remark" cols="16" rows="5" style="resize: none"></textarea>
                </td>
                <td></td>
                <td style="vertical-align: bottom">
                    <a href="#" id="saveHealth" class="easyui-linkbutton" data-options="iconCls:'icon-save'" style="display: none;">保存</a>
                    <a href="#" id="editsaveHealth" class="easyui-linkbutton" data-options="iconCls:'icon-save'" style="display: none;">保存</a>
                    <a href="#" id="cancelHealth" class="easyui-linkbutton" data-options="iconCls:'icon-reload'" >取消</a>
                </td>
            </tr>

        </table>
    </form>
</div>

<script type="text/javascript">
    var pc;
    //不要放在$(function(){});中
    $.parser.onComplete = function () {
        if (pc) clearTimeout(pc);
        pc = setTimeout(closes, 200);
    }
    function closes() {
        $('#loading').fadeOut('normal', function () {
            $(this).remove();
        });
    }
    var request = (function (){
        var obj = {};
        var arr = window.location.search.slice(1).split("&");
        for (var i = 0, len = arr.length; i < len; i++) {
            var nv = arr[i].split("=");
            obj[unescape(nv[0]).toLowerCase()] = unescape(nv[1]);
        }
        return obj;
    })()
    $(function () {
        //二级联动下拉框
        $("#category").combobox({
            valueField: 'id',
            textField: 'value',
            data:[
                {id:"1",value:"病媒生物"},
                {id:"2",value:"阳性样本"},
                {id:"3",value:"毒种"},
                {id:"4",value:"菌种"},
                {id:"5",value:"细胞株"},
                {id:"6",value:"核酸/蛋白"},
            ],
            onSelect:function (rec) {
                if (rec.id==1){
                    $("#saveType").combobox("clear"),
                        $("#saveType").combobox("loadData",
                            [
                                {id:"1",value:"实物标本"},
                                {id:"2",value:"图片标本（未经结构化整理）"},
                                {id:"3",value:"标准样品"}
                            ]
                        )
                }else if (rec.id==2){
                    $("#saveType").combobox("clear"),
                        $("#saveType").combobox("loadData",
                            [
                                {id:"1",value:"鼻咽拭子"},
                                {id:"2",value:"口咽拭子"},
                                {id:"3",value:"肛拭子"},
                                {id:"4",value:"全血"},
                                {id:"5",value:"血清"},
                                {id:"6",value:"尿液"},
                                {id:"7",value:"唾液"},
                            ]
                        )
                }else if (rec.id==3||rec.id==4||rec.id==5){
                    $("#saveType").combobox("clear"),
                        $("#saveType").combobox("loadData",
                            [
                                {id:"1",value:"活毒"},
                                {id:"2",value:"灭活"},
                                {id:"3",value:"疫苗株"}
                            ]
                        )
                }else if (rec.id==6){
                    $("#saveType").combobox("clear"),
                        $("#saveType").combobox("loadData",
                            [
                                {id:"1",value:"质粒"},
                                {id:"2",value:"假病毒"},
                                {id:"3",value:"体外合成基因"},
                                {id:"4",value:"病原体核酸/蛋白"},
                            ]
                        )
                }
            }
        })

        //页面加载数据
        $('#dg').datagrid({
            //远程的url地址，需要抓取的数据的地址，这个地址要求返回json格式{"total":xx,"rows":[]}
            url: 'http://localhost:8080/wsdcrw',
            rownumbers: true,
            pagination:true,
            columns: [
                [
                    //展示列数据
                    {field: 'dcRenwugqname', title: '关区', width: 100},
                    {field: 'wjYwly', title: '业务领域', width: 100},
                    {field: 'wjLb', title: '类别', width: 100},
                    {field: 'wjName', title: '名称', width: 100},
                    {field: 'wjLdxm', title: '拉丁学名（细胞株英文名）', width: 100},
                    {field: 'wjZhuxi', title: '株系（仅适用于细胞株）', width: 100},
                    {field: 'wjZhuanci', title: '传次（仅适用于细胞株）', width: 100},
                    {field: 'wjNeibubh', title: '内部保存编号', width: 100},
                    {field: 'wjBaocunxs', title: '保存形式', width: 100},
                    {field: 'wjLaiyuan', title: '来源', width: 100},
                    {field: 'wjLysuzhu', title: '来源宿主或环境', width: 100},
                    {field: 'wjYbl', title: '样本量', width: 100},
                    {field: 'wjYbdanwei', title: '单位', width: 100},
                    {field: 'wjBaocunzt', title: '保存状态', width: 100},
                    {field: 'wjHuodedd', title: '获得地点', width: 100},
                    {field: 'wjHuoqutj', title: '获取途径', width: 100},
                    {field: 'wjBaocuntj', title: '保存条件', width: 100},
                    {field: 'wjBaocunsj', title: '保存时间', width: 100},
                    {
                        field: 'wjBaocunwz', title: '保存位置\n' +
                            '（隶属关/部门）', width: 100
                    },
                    {field: 'wjLianlr', title: '联络人', width: 100},
                    {field: 'wjLianldh', title: '联络电话', width: 100},
                    {field: 'wjFuzeren', title: '负责人', width: 100},
                    {field: 'wjFuzerendh', title: '联络电话', width: 100},
                    {field: 'wjBy1', title: '备注', width: 100},

                ]
            ],
            // pagination:true,
            //设置每次只能选择一条数据
            singleSelect: true,
            toolbar: [{
                iconCls: 'icon-add',
                text: "添加记录",
                handler: function () {
                    $.ajax({
                        url: "http://localhost:8080/showinformation",
                        type: "post",
                        /*data: JSON.stringify({"rwid": request.rwid}),*/
                        dataType: "json",
                        contentType: "application/json",
                        success: function (data) {
                            alert(JSON.stringify(data))
                            $("#editFormHealth").form("load", {
                                rwid: data.rwid,
                                rwmc: data.rwmc,
                                gqdm: data.gqdm,
                                gqName: data.gqName,
                                ywly: data.ywly,
                                saveLocation: data.saveLocation,
                                contact: data.contact,
                                lxrPhone: data.lxrPhone,
                                principal: data.principal,
                                fzrPhone: data.fzrPhone,
                            });
                        }
                    })
                    $("#saveHealth").css("display", "inline-block");
                    $("#editsaveHealth").css("display", "none");
                    $("#editWinHealth").window({title: "添加记录"});

                    $("#editWinHealth").window("open")
                }
            },
                {
                    iconCls: 'icon-edit',
                    text: "编辑记录",
                    handler: function () {
                        //获取选择的那一条数据
                        var rows = $("#dg").datagrid("getSelections");
                        //判断是否选中数据
                        if (rows.length == 0) {
                            $.messager.alert("提示", "请选择一条记录", "warning")
                        }
                        //获取第一行
                        var row = rows[0];
                        //到后台调取数据，填充到表单
                        $.ajax({
                            url: "http://localhost:8080/showWsjyTable",
                            type: "post",
                            data: JSON.stringify({"id": row.id}),
                            dataType: "json",
                            contentType: "application/json",
                            success: function (data) {

                                $("#editFormHealth").form("load", {
                                    id:data.id,
                                    rwid: data.rwid,
                                    rwmc: data.rwmc,
                                    rwxh: data.rwxh,
                                    gqdm: data.gqdm,
                                    gqName: data.gqName,
                                    ywly: data.ywly,
                                    category: data.category,
                                    saveType: data.saveType,
                                    name: data.name,
                                    ename: data.ename,
                                    zhuxi: data.zhuxi,
                                    chuanci: data.chuanci,
                                    source: data.source,
                                    szhj: data.szhj,
                                    number: data.number,
                                    danwei:data.danwei,
                                    saveStatus: data.saveStatus,
                                    obtainSite: data.obtainSite,
                                    obtainApproach: data.obtainApproach,
                                    saveCondition: data.saveCondition,
                                    saveTime: data.saveTime,
                                    code: data.code,
                                    saveLocation: data.saveLocation,
                                    contact: data.contact,
                                    lxrPhone: data.lxrPhone,
                                    principal: data.principal,
                                    fzrPhone: data.fzrPhone,
                                    remark: data.remark,
                                });
                            }
                        })
                        //填弹出编辑窗口
                        $("#saveHealth").css("display", "none");
                        $("#editsaveHealth").css("display", "inline-block");
                        $("#editWinHealth").window({title: "编辑记录"});
                        $("#editWinHealth").window("open")

                    }
                },
                {
                    iconCls: 'icon-remove',
                    text: "删除记录",
                    handler: function () {
                        //获取选择的那一条数据
                        var rows = $("#dg").datagrid("getSelections");
                        //判断是否选中数据
                        if (rows.length == 0) {
                            $.messager.alert("提示", "请选择一条记录", "warning")
                            return;
                        }

                        $.ajax({
                            url: "http://localhost:8080/deleteWsjy",
                            type: "post",
                            data: JSON.stringify({"id": rows[0].id}),
                            dataType: "json",
                            contentType: "application/json",
                            success: function (data) {
                                if (data.success) {
                                    $("#dg").datagrid("reload");
                                    $.messager.show({
                                        title: "提示",
                                        msg: "删除成功"
                                    })
                                } else {
                                    $.messager.alert("提示", "删除失败", "error");
                                }
                            }
                        })

                    }
                },
                {
                    iconCls: 'icon-ok',
                    text: "提交",
                    handler: function () {

                        $.ajax({
                            url: "http://localhost:8080/submit",
                            type: "post",
                            // data: JSON.stringify({"rwid": rows[0].rwid}),
                            dataType: "json",
                            contentType: "application/json",
                            success: function (data) {
                                if (data.success) {
                                    $.messager.show({
                                        title: "提示",
                                        msg: "提交成功"
                                    });
                                    var jq=top.jQuery;
                                    jq("#tt").tabs('close',"卫生检疫");
                                    var tab = jq("#tt").tabs('getTab',"调查任务管理");
                                    tab.panel('refresh','http://localhost:8080/dcrwGL');
                                } else {
                                    $.messager.alert("提示", "提交失败", "error");
                                }
                            }
                        })
                    }
                },
                {
                    iconCls: 'icon-print',
                    text: "导出Excel表",
                    handler: function () {
                        window.parent.location.href="http://localhost:8080/excelDownloadWj";
                    }
                }
            ],

            onDblClickRow:function (index,row) {
                $.ajax({
                    url: "http://localhost:8080/showWsjyTable",
                    type: "post",
                    data: JSON.stringify({"id": row.id}),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (data) {

                        $("#editFormHealth").form("load", {
                            id:data.id,
                            rwid: data.rwid,
                            rwmc: data.rwmc,
                            rwxh: data.rwxh,
                            gqdm: data.gqdm,
                            gqName: data.gqName,
                            ywly: data.ywly,
                            category: data.category,
                            saveType: data.saveType,
                            name: data.name,
                            ename: data.ename,
                            zhuxi: data.zhuxi,
                            chuanci: data.chuanci,
                            source: data.source,
                            szhj: data.szhj,
                            number: data.number,
                            danwei:data.danwei,
                            saveStatus: data.saveStatus,
                            obtainSite: data.obtainSite,
                            obtainApproach: data.obtainApproach,
                            saveCondition: data.saveCondition,
                            saveTime: data.saveTime,
                            code: data.code,
                            saveLocation: data.saveLocation,
                            contact: data.contact,
                            lxrPhone: data.lxrPhone,
                            principal: data.principal,
                            fzrPhone: data.fzrPhone,
                            remark: data.remark,
                        });
                    }
                })
                //填弹出编辑窗口
                $("#saveHealth").css("display", "none");
                $("#editsaveHealth").css("display", "inline-block");
                $("#editWinHealth").window({title: "编辑记录"});
                $("#editWinHealth").window("open")
            }

        });


        //保存当前所填写的一条数据
        $("#saveHealth").click(function () {

            var rwid=$("#rwid").val();
            var rwmc=$("#rwmc").val();
            var rwxh=$("#rwxh").val();
            var gqdm=$("#gqdm").val();
            var gqName=$("#gqName").val();
            var ywly=$("#ywly").val();
            var category=$("#category").combobox('getText');
            var saveType=$("#saveType").combobox('getText');
            var name=$("#name").val();
            var ename=$("#ename").val();
            var zhuxi=$("#zhuxi").val();
            var chuanci=$("#chuanci").val();
            var source=$("#source").combobox('getText');
            var szhj=$("#szhj").val();
            var number=$("#number").val();
            var danwei=$("#danwei").val();
            var saveStatus=$("#saveStatus").val();
            var obtainSite=$("#obtainSite").val();
            var obtainApproach=$("#obtainApproach").val();
            var saveCondition=$("#saveCondition").val();
            var saveTime=$("#saveTime").val();
            var code=$("#code").val();
            var saveLocation=$("#saveLocation").val();
            var contact=$("#contact").val();
            var lxrPhone=$("#lxrPhone").val();
            var principal=$("#principal").val();
            var fzrPhone=$("#fzrPhone").val();
            var remark=$("#remark").val();
            alert(JSON.stringify({gqName,ywly,category,saveType,name,ename,
                zhuxi,chuanci,source,szhj,number,danwei,saveStatus,obtainSite,
                obtainApproach,saveCondition,saveTime,code,saveLocation,
                contact,lxrPhone,principal,fzrPhone,remark
            }))
            $.ajax({
                url:'http://localhost:8080/addWsjy',
                type:"post",
                data:JSON.stringify({"rwxh":rwxh,"gqdm":gqdm,"rwmc":rwmc,"rwid":rwid,"gqName":gqName,"ywly": ywly,"category":category,
                    "saveType":saveType,"name":name,"ename":ename, "zhuxi":zhuxi,"chuanci":chuanci,"source":source,
                    "szhj":szhj,"number":number,"danwei":danwei,"saveStatus":saveStatus,
                    "obtainSite":obtainSite,"obtainApproach":obtainApproach,"saveCondition":saveCondition,
                    "saveTime":saveTime,"code":code,"saveLocation":saveLocation,"contact":contact,"lxrPhone":lxrPhone,"principal":principal,
                    "fzrPhone":fzrPhone,"remark":remark,
                }),
                dataType:"json",
                contentType:"application/json",
                success:function (data) {
                    if(data.success==true){
                        //表单清空
                        $("#editFormHealth").form("clear")
                        //关闭窗口
                        $("#editWinHealth").window("close")
                        //刷新datagrid
                        $("#dg").datagrid("reload")

                        $.messager.show({
                            title:"提示",
                            msg:"保存成功"
                        })
                    }else if (data.success==false){
                        $.messager.alert("提示","保存失败","error")
                    }
                }
            })
        })


        //修改当前所选中的一条数据
        $("#editsaveHealth").click(function () {
            var id=$("#id").val();
            var rwid=$("#rwid").val();
            var rwmc=$("#rwmc").val();
            var rwxh=$("#rwxh").val();
            var gqdm=$("#gqdm").val();
            var gqName=$("#gqName").val();
            var ywly=$("#ywly").val();
            var category=$("#category").combobox('getText');
            var saveType=$("#saveType").combobox('getText');
            var name=$("#name").val();
            var ename=$("#ename").val();
            var zhuxi=$("#zhuxi").val();
            var chuanci=$("#chuanci").val();
            var source=$("#source").combobox('getText');
            var szhj=$("#szhj").val();
            var number=$("#number").val();
            var danwei=$("#danwei").val();
            var saveStatus=$("#saveStatus").val();
            var obtainSite=$("#obtainSite").val();
            var obtainApproach=$("#obtainApproach").val();
            var saveCondition=$("#saveCondition").val();
            var saveTime=$("#saveTime").val();
            var code=$("#code").val();
            var saveLocation=$("#saveLocation").val();
            var contact=$("#contact").val();
            var lxrPhone=$("#lxrPhone").val();
            var principal=$("#principal").val();
            var fzrPhone=$("#fzrPhone").val();
            var remark=$("#remark").val();
            // alert(JSON.stringify({gqName,ywly,category,saveType,name,ename,
            //     zhuxi,chuanci,source,szhj,number,danwei,saveStatus,obtainSite,
            //     obtainApproach,saveCondition,saveTime,code,saveLocation,
            //     contact,lxrPhone,principal,fzrPhone,remark
            // }))
            $.ajax({
                url:'http://localhost:8080/modifyWsjy',
                type:"post",
                data:JSON.stringify({"id":id,"rwxh":rwxh,"gqdm":gqdm,"rwmc":rwmc,"rwid":rwid,"gqName":gqName,"ywly": ywly,"category":category,
                    "saveType":saveType,"name":name,"ename":ename, "zhuxi":zhuxi,"chuanci":chuanci,"source":source,
                    "szhj":szhj,"number":number,"danwei":danwei,"saveStatus":saveStatus,
                    "obtainSite":obtainSite,"obtainApproach":obtainApproach,"saveCondition":saveCondition,
                    "saveTime":saveTime,"code":code,"saveLocation":saveLocation, "contact":contact,"lxrPhone":lxrPhone,"principal":principal,
                    "fzrPhone":fzrPhone,"remark":remark,
                }),
                dataType:"json",
                contentType:"application/json",
                success:function (data) {
                    if(data.success==true){
                        //表单清空
                        $("#editFormHealth").form("clear")
                        //关闭窗口
                        $("#editWinHealth").window("close")
                        //刷新datagrid
                        $("#dg").datagrid("reload")

                        $.messager.show({
                            title:"提示",
                            msg:"修改成功"
                        })
                    }else if (data.success==false){
                        $.messager.alert("提示","修改失败","error")
                    }
                }
            })
        })

        //关闭当前对话框，并且清空所填数据
        $("#cancelHealth").click(function () {
            $("#editFormHealth").form("clear")
            $("#editWinHealth").window("close")
        })

        var gqdj=$("#hid").val();
        if (gqdj==0||gqdj==2){
            $('div.datagrid-toolbar a').eq(3).hide();
        }
    })
</script>
</body>
</html>