<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--    导入jQuery的js文件-->
    <script type="text/javascript" src="./easyUI/jquery.min.js"></script>
    <!--    导入easyUI的js文件-->
    <script type="text/javascript" src="./easyUI/jquery.easyui.min.js"></script>
    <!--    导入easyUI的语言js文件-->
    <script type="text/javascript" src="./easyUI/locale/easyui-lang-zh_CN.js"></script>
    <!--    导入easyUI的图标css文件-->
    <link rel="stylesheet" type="text/css" href="./easyUI/themes/icon.css">
    <!--    导入默认模块的css文件-->
    <link id="themeLink" rel="stylesheet" type="text/css" href="./easyUI/themes/default/easyui.css">
</head>
<body>
<input type="hidden" id="hid" th:value="${session.user.getDcGqdj()}">
<div id="loading" style="position:absolute;z-index:1000;top:0px;left:0px;width:100%;height:100%;background:#DDDDDB;text-align :center;padding-top:20%;">
    <h1><font color="#15428B">加载中....</font></h1>
</div>
<table id="dg"></table>


<script type="text/javascript">
    var pc;
    //不要放在$(function(){});中
    $.parser.onComplete = function () {
        if (pc) clearTimeout(pc);
        pc = setTimeout(closes, 200);
    }
    function closes() {
        $('#loading').fadeOut('normal', function () {
            $(this).remove();
        });
    }

    $(function () {
        //页面加载数据
        $('#dg').datagrid({
            //远程的url地址，需要抓取的数据的地址，这个地址要求返回json格式{"total":xx,"rows":[]}
            url: 'http://localhost:8080/zwdcrw',
            rownumbers: true,
            pagination: true,
            columns: [
                [
                    //展示列数据
                    {field: 'dcRenwumc', title: '关区', width: 100},
                    {field: 'zjYwly', title: '业务领域', width: 100},
                    {field: 'zjLb', title: '类别', width: 100},
                    {field: 'zjName', title: '中文名称', width: 100},
                    {field: 'zjLdxm', title: '拉丁学名', width: 100},
                    {field: 'zjShidai', title: '世代/种下阶元', width: 100},
                    {field: 'zjNeibubh', title: '内部保存编号', width: 100},
                    {field: 'zjJianyidw', title: '检疫地位', width: 100},
                    {field: 'zjJianyiywlb', title: '检疫业务类别', width: 100},
                    {field: 'zjHuowulb', title: '货物类别', width: 100},
                    {field: 'zjJizhu', title: '寄主', width: 100},
                    {field: 'zjBaocunxs', title: '保存形式', width: 100},
                    {field: 'zjLaiyuan', title: '来源', width: 100},
                    {field: 'zjLaiyuangj', title: '来源国家/地区', width: 100},
                    {field: 'zjYbl', title: '样本数量', width: 100},
                    {field: 'zjYbdanwei', title: '单位', width: 100},
                    {field: 'zjBaocunzt', title: '保存状态', width: 100},
                    {field: 'zjHuodedd', title: '获得地点', width: 100},
                    {field: 'zjBaocuntj', title: '保存条件', width: 100},
                    {field: 'zjBaocunsj', title: '保存时间', width: 100},
                    {
                        field: 'zjBaocunwz', title: '保存位置\n' +
                            '（隶属关/部门）', width: 100
                    },
                    {field: 'zjLianlr', title: '联络人', width: 100},
                    {field: 'zjLianldh', title: '联络电话', width: 100},
                    {field: 'zjFuzeren', title: '负责人', width: 100},
                    {field: 'zjFuzerendh', title: '负责人电话', width: 100},
                    {field: 'zjBy1', title: '备注', width: 100},

                ]
            ],
            // pagination:true,
            //设置每次只能选择一条数据
            singleSelect: true,

        })
    })
</script>
</body>
</html>